In [1]:
import pandas as pd
import numpy as np

In [2]:
from acquire import get_titanic_data
from prepare import prep_titanic
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import DecisionTreeClassifier,plot_tree,export_text
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [3]:
df = get_titanic_data()
train, validate, test  = prep_titanic(df)

In [4]:
train.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
455,455,455,1,3,male,0,0,7.8958,Cherbourg,1,1,0,0
380,380,380,1,1,female,0,0,227.5250,Cherbourg,1,0,0,0
492,492,492,0,1,male,0,0,30.5000,Southampton,1,1,0,1
55,55,55,1,1,male,0,0,35.5000,Southampton,1,1,0,1
243,243,243,0,3,male,0,0,7.1250,Southampton,1,1,0,1

In [5]:
drops = ['sex','pclass','embark_town','passenger_id', 'Unnamed: 0']

In [6]:
[dataset.drop(columns=drops, inplace=True) for dataset in [train, validate, test]]

[None, None, None]

In [7]:
train.columns

Index(['survived', 'sibsp', 'parch', 'fare', 'alone', 'sex_male',
       'embark_town_Queenstown', 'embark_town_Southampton'],
      dtype='object')

In [8]:
train.survived.value_counts()

0    329
1    205
Name: survived, dtype: int64

In [9]:
x_train = train.drop(columns = 'survived')
y_train = train.survived

In [10]:
x_train

,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
455,0,0,7.8958,1,1,0,0
380,0,0,227.5250,1,0,0,0
492,0,0,30.5000,1,1,0,1
55,0,0,35.5000,1,1,0,1
243,0,0,7.1250,1,1,0,1
...,...,...,...,...,...,...,...
695,0,0,13.5000,1,1,0,1
128,1,1,22.3583,0,0,0,0
636,0,0,7.9250,1,1,0,1
222,0,0,8.0500,1,1,0,1
496,1,0,78.2667,0,0,0,0

In [11]:
baseline = (y_train == 0).mean()

In [12]:
print('our baseline accuracy for nonsurvival is:', baseline)

our baseline accuracy for nonsurvival is: 0.6161048689138576

In [13]:
clf = DecisionTreeClassifier()

In [14]:
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [15]:
clf.score(x_train,y_train)

0.9456928838951311

In [16]:
clf.predict(x_train)

array([0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1])

In [17]:
y_preds = pd.DataFrame({
 'y_act': y_train,
'baseline': 0,
'model_1': clf.predict(x_train)})

In [18]:
y_preds

     y_act  baseline  model_1
455      1         0        0
380      1         0        1
492      0         0        0
55       1         0        1
243      0         0        0
..     ...       ...      ...
695      0         0        0
128      1         0        1
636      0         0        0
222      0         0        0
496      1         0        1

[534 rows x 3 columns]

In [19]:
acc = clf.score(x_train, y_train)
accuracy_score(y_preds.y_act, y_preds.model_1)

0.9456928838951311

In [20]:
acc

0.9456928838951311

In [21]:
pd.DataFrame(classification_report(y_preds.y_act, y_preds.model_1, output_dict=True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.923729    0.988889  0.945693    0.956309      0.948743
recall       0.993921    0.868293  0.945693    0.931107      0.945693
f1-score     0.957540    0.924675  0.945693    0.941108      0.944924
support    329.000000  205.000000  0.945693  534.000000    534.000000

In [22]:
conf = confusion_matrix(y_preds.y_act, y_preds.model_1)

In [23]:
conf

array([[327,   2],
       [ 27, 178]])

In [24]:
rubric_df = pd.DataFrame({
    'pred_death': ['True Negative', 'False Negative'],
    'pred_survive':['False Positive','True Positive']
    }, index=['actual_death', 'actual_survive'])

In [25]:
rubric_df

                    pred_death    pred_survive
actual_death     True Negative  False Positive
actual_survive  False Negative   True Positive

In [26]:
rubric_df + ': ' + conf.astype(str)

                        pred_death        pred_survive
actual_death    True Negative: 327   False Positive: 2
actual_survive  False Negative: 27  True Positive: 178

In [27]:
TN = conf[0,0]
FP = conf[0,1]
FN = conf[1,0]
TP = conf[1,1]
TN, FP, FN, TP

(327, 2, 27, 178)

In [28]:
clf2 = DecisionTreeClassifier(max_depth=4)

In [29]:
clf2.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4)

In [31]:
y_preds['model2'] = clf2.predict(x_train)

In [33]:
clf2.score(x_train, y_train)

0.8164794007490637