In [11]:
import pandas as pd
import numpy as np

In [1]:
# 2 
 #cat = positivr class
 #dog = negative class

In [2]:
#in the case of this problem what is a fasle positive?
 #FP = we predict cat. actually dog

In [3]:
#In the case of this problem what is a false negative?
 # FN = we predict dog. actually cat

In [5]:
#How would you describe this model?

#True Positive: we predict cat. actually cat
tp = 34

#True negative: we predict dog. actually dog
tn = 46

#False Positive: we predict cat. actually dog
fp = 7

#False Negative: we predict dog. actually cat
fn = 13

In [7]:
print('Cat-classifier (where cat is the positive prediction)')

print('True Positives', tp)
print('True Negatives', tn)
print('False Positives', fp)
print('False Negatives', fn)
print('========================================')
accuracy = (tp + tn)/(tp+tn+fp+fn)
precision = tp / (tp + fp)
recall = tp/ (tp + fn)
print('accuracy is ', accuracy)
print('recall is',round(recall,2))
print('precision is',round(precision,2))

Cat-classifier (where cat is the positive prediction)
True Positives 34
True Negatives 46
False Positives 7
False Negatives 13
========================================
accuracy is  0.8
recall is 0.72
precision is 0.83

In [8]:
                                 #NUMBER THREE

In [9]:
#An internal team wants to investigate the cause of the manufacturing defects.
#They tell you that they want to identify as many of the ducks that have a defect as possible. 
#Which evaluation metric would be appropriate here? 
#Which model would be the best fit for this use case?

In [13]:
df = pd.read_csv('c3.csv')

In [20]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [21]:
#we are checking for defects therefor defects is the positive class.
#Since we are looking for defective ducks the best method would be 'Recall'
#"recall = tp/(tp + fn)"

In [23]:
#Model Positives:
subset = df[df.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [26]:
# model_1
model_1_recall = (subset.actual == subset.model1).mean()
print("model 1 recall: ", model_1_recall)

model 1 recall:  0.5

In [27]:
# model_2
model_2_recall = (subset.actual == subset.model2).mean()
print("model 2 recall: ", model_2_recall)

model 2 recall:  0.5625

In [28]:
#model_3
model_3_recall =(subset.actual == subset.model3).mean()
print('model 3 recall: ', model_3_recall)

model 3 recall:  0.8125

In [30]:
#Recently several stories in the local news have come out highlighting customers who received a 
#rubber duck with a defect, and portraying C3 in a bad light. 
#The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. 
#They need you to predict which ducks will have defects, but tell you the really don't want to accidentally 
#give out a vacation package when the duck really doesn't have a defect. 
#Which evaluation metric would be appropriate here? 
#Which model would be the best fit for this use case?

In [31]:
# we are looking for defects therefor defect would be the positive class

# false positive: we say defective. actually good.
# false negative: we say good. actually defective
#precision = tp / (tp + fp)

# WE ARE TESTING FOR PRECISION BC LOOKING FOR POSITIVE PREDICTIONS

In [32]:
subset = df [df.model1 == 'Defect']
subset

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [34]:
#calculating precision
model_precision = (subset.actual == subset.model1).mean()
print('model 1 precision: ', model_precision)

model 1 precision:  0.8

In [36]:
#model 2
subset = df[df.model2 == 'Defect']
model_precision = (subset.actual == subset.model2).mean()
print('model 2 precision: ', model_precision)

model 2 precision:  0.1

In [39]:
# model 3
subset = df[df.model3 == 'Defect']
model_precision = (subset.actual == subset.model3).mean()
print('model 3 precision: ', model_precision)

model 3 precision:  0.13131313131313133

In [40]:
#of these three models the 1st is the most precise and is the one we would use to minimize false positives.

In [42]:
df = pd.read_csv('gives_you_paws.csv')

In [43]:
#create a baseline model around most common class.

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [45]:
df['Baseline'] = df.actual.value_counts().idxmax()

In [51]:
df

     actual model1 model2 model3 model4 Baseline
0       cat    cat    dog    cat    dog      dog
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
4       cat    cat    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4998    cat    cat    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[5000 rows x 6 columns]

In [48]:
#compare accuracy of models to baseline
(df.actual == df.Baseline).mean()

0.6508

In [54]:
#all models accuracy
model_acc = []
for model in df.columns[1:]:
    acc = (df.actual == df[model]).mean()
    model_acc.append([model,acc])

model_acc

[['model1', 0.8074],
 ['model2', 0.6304],
 ['model3', 0.5096],
 ['model4', 0.7426],
 ['Baseline', 0.6508]]

In [55]:
# model 1 and 3 are more accurate than the baseline

In [57]:
#Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend?

In [58]:
#dog = positive class
#cat = negative class

In [60]:
model_pre = []
for model in df.columns[1:]:
    subset = df[df[model] == 'dog']
    precision = (subset.actual == subset[model]).mean()
    model_pre.append([model,precision])
model_pre

[['model1', 0.8900238338440586],
 ['model2', 0.8931767337807607],
 ['model3', 0.6598883572567783],
 ['model4', 0.7312485304490948],
 ['Baseline', 0.6508]]

In [61]:
#all models are more precise than the baseline.

In [62]:
#Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend?

In [63]:
#cat = positive class
#dog = negative class

In [68]:
model_pre = []
for model in df.columns[1:]:
    subset = df[df[model] == 'cat']
    precision = (subset.actual == subset[model]).mean()
    model_pre.append([model, precision])
model_pre

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['Baseline', nan]]